.navbar {
  width: 100%;

  .navigation-container {
    width: 100%;
    height: 143px;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.colour-change {
      background-color: #ffffff;

      .logo {
        background-image: url(../../../assets/logo-grey.png);
      }

      div {
        color: black;
      }
    }

    div {
      color: white;

      &.logo {
        background-image: url(../../../assets/logo-white.png);
        background-position: left;
        background-size: cover;
        width: 228px;
        height: 100%;
        cursor: pointer;
      }

      &.navigation {
        display: inline-flex;
        max-width: 835px;
        width: 100%;

        ul {
          display: flex;
          list-style: none;
          justify-content: space-around;
          width: 100%;

          li {
            font-size: calc(5px + 2vmin);
            cursor: pointer;
          }
        }

        &.mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    .navigation-container {
      .navigation {
        &.desktop {
          display: none;
        }

        &.mobile {
          display: block;
        }
      }
    }
  }
}
